### This notebook let you know how to print the following patterns in Python.

Triangle pattern, Star (*) or asterisk pattern, Pyramid pattern, Inverted pyramid pattern
Half pyramid pattern, Diamond Shaped pattern, Characters or alphabets pattern and Square pattern

<img src="https://pynative.com/wp-content/uploads/2018/06/pattern_in_python.png"/>

In [15]:
# Decide the number of rows
row = int(input())

5

In [30]:
#Square - Iterate rows
for i in range(row):
    #Iterate columns
    for j in range(5):
        #Print star or number
        print(i, end="")
    #Add new line after each iteration of outer loop
    print("")

00000
11111
22222
33333
44444

In [23]:
#Triangle - Iterate rows
#In this number pattern, we displayed a single digit on the first row, the next two digits of the second row, 
#And the following three numbers on the third row and this process will repeat till the number of rows reached.

for i in range(row+1):
    #Iterate columns
    for j in range(i):
        #Print star or number
        print(i, end="")
    #Add new line after each iteration of outer loop
    print("")

1
22
333
4444
55555

In [25]:
#Pyramid pattern -  In each row, every next number is incremented by 1.

for i in range(row+1):
    for j in range(i):
        print(j+1, end="")
    print("")

1
12
123
1234
12345

In [27]:
#Inverted pyramid pattern of numbers
#An inverted pyramid is a downward pattern where numbers get reduced in each iteration, 
#and on the last row, it shows only one number. Use reverse for loop to print this pattern.

#1 1 1 1 1 
#2 2 2 2 
#3 3 3 
#4 4 
#5

for i in range (row+1):
    for j in range (row-i):
        print(i+1, end="")
    print("")

11111
2222
333
44
5

In [33]:
#Inverted Pyramid pattern with the same digit


#5 5 5 5 5 
#5 5 5 5 
#5 5 5 
#5 5 
#5

for i in range (row+1):
    for j in range (row-i):
        print(row, end="")
    print("")

55555
5555
555
55
5

In [36]:
#Another inverted half pyramid pattern with number


#0 1 2 3 4 5 
#0 1 2 3 4 
#0 1 2 3 
#0 1 2 
#0 1

for i in range (row):
    for j in range (row+1-i):
        print(j, end="")
    print("")

012345
01234
0123
012
01

In [38]:
#Alternate numbers pattern using while loop


#1 
#3 3 
#5 5 5 
#7 7 7 7 
#9 9 9 9 9

i = 1
while i <= row:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [48]:
#def print_pascal_triangle(size):
#1 
#1 1 
#1 2 1 
#1 3 3 1 
#1 4 6 4 1 
#1 5 10 10 5 1 
#1 6 15 20 15 6 1

def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [49]:
#        * * * * * * 
#         * * * * * 
#          * * * * 
#           * * * 
#            * * 
#             * 

rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [50]:
#Equilateral triangle pattern of star
#            *   
#           *  *   
#          *  *  *   
#         *  *  *  *   
#        *  *  *  *  *   
#       *  *  *  *  *  *   
#      *  *  *  *  *  *  *   

rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [52]:
#Right start pattern of star
#* 
#* * 
#* * * 
#* * * * 
#* * * * * 
#* * * * 
#* * * 
#* * 
#*

rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [54]:
#Sandglass pattern of star
#* * * * * 
# * * * * 
#  * * * 
#   * * 
#    * 
#    * 
#   * * 
#  * * * 
# * * * * 
#* * * * * 

rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [56]:
#Diamond-shaped pattern of stars
#        * 
#       * * 
#      * * * 
#     * * * * 
#    * * * * * 
#   * * * * * * 
#    * * * * * 
#     * * * * 
#      * * * 
#       * * 
#        * 

rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [57]:
#Pattern to display letter of the word

word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python